# Aula 3 - Exercícios - Pandas, Fontes de dados e Agregação
### Consulta a internet (Google, Stackoverflow e etc) liberada!!

### 3.3 Escreva uma função executar uma query SQL de agregação num banco de dados SQLite que retorne a média dos valores de uma coluna VALORES agregados por uma coluna CATEGORIAS.
#### Retorne a coluna CATEGORIA na tabela de resultados para identificar os valores. Ordene os resultados pelo valor da média em ordem decrescente.
#### Exemplo: Calcule média do IDHM (coluna VALORES) agregado por Ano da pesquisa (CATEGORIAS).

In [8]:
# Importe as bibliotecas pandas, numpy, glob e sqlalchemy
import pandas as pd
import numpy as np
import sqlalchemy as sqla

In [9]:
# Dica: A resposta deste exercício é bem semelhante ao código mostrado na aula
def soma_com_agregacao(val, cat, table, con_str):
    """retorne um dataframe contendo a soma dos valores em val dentro das categorias cat da tabela table
    """
    con = sqla.create_engine(con_str)
    df = pd.read_sql_query(f"select ano, sum(IDHM)\
                            from {table}\
                            group by ano", con)
    
    # YOUR CODE HERE
    return df

In [10]:
## Faça seus testes aqui
con_str='sqlite:///../../curso_ciencia_dados2020/data/processados/idhm/idhm2013.sqlite'
# defina uma variavel com o mesmo nome da tabela salva no banco de dados do exercício 2


col_value = "IDHM"
cat = "ANO"
table_name = "idh_table"

soma_com_agregacao(col_value, cat, table_name, con_str)

    ANO  sum(IDHM)
0  1991   2122.337
1  2000   2913.171
2  2010   3668.211

In [ ]:
# Validação para nota
### ATENÇÃO PARA ESTA INSTRUÇÃO ####
# defina uma variavel na célula anterior com o mesmo nome da tabela salva no banco de dados do exercício 2
con_str='sqlite:///../../curso_ciencia_dados2020/data/processados/idhm/idhm2013.sqlite'
test_data = {'ANO': {0: 2010, 1: 2000, 2: 1991}, 'Media': {0: 0.7, 1: 0.5, 2: 0.4}}
df_agg = soma_com_agregacao('IDHM', 'ANO', table_name, con_str)
df_agg['Media'] = df_agg['Media'].apply(lambda x: round(x, 1))
assert df_agg.to_dict() == test_data