# Aula 2 - Exercícios Extra - Python e Pandas
### Consulta a internet (Google, Stackoverflow e etc) liberada!!

In [3]:
# Importe a biblioteca pandas e numpy
import pandas as pd
import numpy as np

### 2.9 Escreva uma função para criar uma nova coluna 'segundo' que tenha 
### o segundo maior valor de cada linha de df.

In [26]:
# Dica 1: Use a função apply do Dataframe aplicando uma função lambda.
#            e use a função sorted de List dentro da função lambda.
# Dica 2: Aplique a função lambda no eixo 1.

def segundo_maior(df):
    """retorne os valores que não são comuns em duas séries
    """
    #f = lambda row: row.sort(ascending=False)
    # YOUR CODE HERE
    segundo = df.apply(lambda row: row.sort_values(ascending=False)[1], axis="columns")
    
    df['segundo'] = segundo
    
    return df

In [27]:
## Faça seus testes aqui
data = {'d1': [20, 36, 25,  4,  1, 20, 17, 47,  2, 40],
        'd2': [33, 25, 48, 39, 49, 37, 45, 36, 37, 31],
        'd3': [19, 47,  9, 27, 48, 26, 24, 21,  1,  2]}
df = pd.DataFrame(data)
segundo_maior(df)

   d1  d2  d3  segundo
0  20  33  19       20
1  36  25  47       36
2  25  48   9       25
3   4  39  27       27
4   1  49  48       48
5  20  37  26       26
6  17  45  24       24
7  47  36  21       36
8   2  37   1        2
9  40  31   2       31

In [28]:
# Validação para nota
data = {'d1': [20, 36, 25,  4,  1, 20, 17, 47,  2, 40],
        'd2': [33, 25, 48, 39, 49, 37, 45, 36, 37, 31],
        'd3': [19, 47,  9, 27, 48, 26, 24, 21,  1,  2]}
df = pd.DataFrame(data)
assert list(segundo_maior(df)['segundo']) == [20, 36, 25, 27, 48, 26, 24, 36, 2, 31]