# Aula 4 - Exercícios - Agregação com Pandas e Conceitos de Estatística
### Consulta a internet (Google, Stackoverflow e etc) liberada!!

In [2]:
# Importe a biblioteca pandas
import pandas as pd
import numpy as np

### 4.4 Escreva uma função para agregar o dataset do Titanic por classe (pclass) e sexo (sex) e calcular a soma da coluna survived (sobrevivente) e a média e mediana da coluna fare (preço do ticket).

In [8]:
# Dica: Faça a agregação usando um dicionário que mapeia a coluna e a(s) respectiva(s) métrica(s) de
#       agregação solicitada(s) no enunciado.
def agg_titanic(df_titanic):
    """retorne aagregação do dataframe df_titanic por pclass e sex e calcular a soma 
       da coluna survived e a média e mediana da coluna fare.
    """
    # YOUR CODE HERE
    grouped = df_titanic.groupby(["pclass", "sex"])
    grouped.agg({'survived': ['sum'], 'fare':['mean','median']}).to_dict()

In [13]:
## Faça seus testes aqui
path_titanic = '../../curso_ciencia_dados2020/data/originais/titanic/titanic.xls'

df_titanic = pd.read_excel(path_titanic)

{('survived', 'sum'): {(1, 'female'): 139,
  (1, 'male'): 61,
  (2, 'female'): 94,
  (2, 'male'): 25,
  (3, 'female'): 106,
  (3, 'male'): 75},
 ('fare', 'mean'): {(1, 'female'): 109.41238472222216,
  (1, 'male'): 69.88838491620106,
  (2, 'female'): 23.234827358490563,
  (2, 'male'): 19.90494561403509,
  (3, 'female'): 15.32424953703705,
  (3, 'male'): 12.415461991869948},
 ('fare', 'median'): {(1, 'female'): 80.92914999999999,
  (1, 'male'): 49.5042,
  (2, 'female'): 23.0,
  (2, 'male'): 13.0,
  (3, 'female'): 10.4896,
  (3, 'male'): 7.8958}}

In [14]:
# Validação para nota
path_titanic = '../../curso_ciencia_dados2020/data/originais/titanic/titanic.xls'
test_data = {('survived', 'sum'): {(1, 'female'): 139,  (1, 'male'): 61,
  (2, 'female'): 94,  (2, 'male'): 25,  (3, 'female'): 106,  (3, 'male'): 75},
  ('fare', 'mean'): {(1, 'female'): 109.4,  (1, 'male'): 69.9,  (2, 'female'): 23.2,
  (2, 'male'): 19.9,  (3, 'female'): 15.3,  (3, 'male'): 12.4}, 
  ('fare', 'median'): {(1, 'female'): 80.9,  (1, 'male'): 49.5,  
  (2, 'female'): 23.0,  (2, 'male'): 13.0,  (3, 'female'): 10.5,  (3, 'male'): 7.9}}

df_titanic = pd.read_excel(path_titanic)
result_agg = agg_titanic(df_titanic).apply(lambda x: round(x, 1))

assert result_agg.to_dict() == test_data

NotImplementedError: