# Aula 2 - Exercícios - Python e Pandas
### Consulta a internet (Google, Stackoverflow e etc) liberada!!

In [1]:
# Importe as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

### 2.3 Escreva uma função para selecionar as linhas de um dataframe onde o valor
### na coluna especificada seja ausente (NA)

In [12]:
def seleciona_null(df, col):
    """retorne as linhas cujo valor na coluna col seja ausente (NA)
    """
    # YOUR CODE HERE
    return df[df[col].isnull()]
    
    #raise NotImplementedError()

In [13]:
## Faça seus testes aqui
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
#print(df)
seleciona_null(df, 'score')

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [14]:
# Validação para nota
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
assert seleciona_null(df, 'score').equals(df.loc[['d', 'h']])
seleciona_null(df, 'score')

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no