# Aula 2 - Exercícios - Python e Pandas
### Consulta a internet (Google, Stackoverflow e etc) liberada!!

### 2.4 Escreva uma função para mudar o conteúdo de uma coluna de um dataframe, 
### especificando como parâmetros de entrada o nome da coluna, o valor original e o 
### novo valor.
#### Exemplo:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Anastasia |    12.5 | yes       |
| b  | Dima      |     9   | no        |
| c  | Katherine |    16.5 | yes       |
| d  | James     |   nan   | no        |

#### Resultado Esperado:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Anastasia |    12.5 | yes       |
| b  | Dima      |     9   | no        |
| c  | Katherine |    16.5 | yes       |
| d  | Suresh    |   nan   | no        |

In [19]:
# Dica: Use a função replace da Serie. A função replace tem um parâmetro inplace 
#       para modificar o proprio objeto.
import pandas as pd
import numpy as np

def change_value(df, col, orig, new):
    """altere a coluna col do dataframe df substituindo orig por new
    """
    # YOUR CODE HERE
    df[col].replace(to_replace=orig, value=new, inplace=True)
    return df
    #raise NotImplementedError()

In [20]:
## Faça seus testes aqui
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
                       'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels) 
change_value(df, 'name', 'James', 'Suresh')

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d     Suresh    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [21]:
# Validação para nota
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
                       'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Anastasia', 'Dima', 'Katherine', 'Suresh', 'Emily',
                       'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data, index=labels) 
df2 = pd.DataFrame(exam_data2, index=labels) 

assert change_value(df, 'name', 'James', 'Suresh').equals(df2)